POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB=''

#generate with:
#python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())
AIRFLOW__CORE__FERNET_KEY=''

# NSPL has no permanent download URL. Open the current release page on
# https://geoportal.statistics.gov.uk (search "National Statistics Postcode
# Lookup"), click "Download", and paste the resulting .zip file link below.
NSPL_SOURCE_URL=''