POSTGRES_USER=estate
POSTGRES_PASSWORD=estate
POSTGRES_DB=estate

#generate with:
#python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())
AIRFLOW__CORE__FERNET_KEY=''

# Get the current NSPL CSV download link from https://geoportal.statistics.gov.uk
# Search "NSPL", open the latest release, open that link in a browser, right click the Download button copy that URL.
# Paste that into .env as NSPL_SOURCE_URL
# it changes every release, so there is no fixed URL.
NSPL_SOURCE_URL=''