# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
*.py[cod]

# --- Environment & Secrets ---
.env
.env.local
profiles.yml
.user.yml
.env.*
credentials.json
service-account.json

# --- dbt ---
target/
dbt_packages/
logs/
*.csv
dbt_modules/
*.log
query_log.sql

# --- Apache Airflow ---
airflow/logs/
airflow-db/
*.sqlite
airflow.cfg
unittests.cfg
webserver_config.py

# --- Docker & Database Volumes ---
postgres-data/
airflow-db-data/
airflow-logs/

# --- OS / Editor Specific ---
.DS_Store
Thumbs.db
.idea/
.vscode/