# Secrets
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/.user.yml

# Python
__pycache__/
*.pyc

# Apache Airflow
airflow.db
airflow.cfg
airflow/logs/
airflow/webserver_config.py


# IDE
.vscode/*
.venv